---
import { allColumns } from '@/config'
import type { RowType } from '@/types'

export interface Props {
  row: RowType
}

const { row } = Astro.props
let rowClass = isNaN(Number(row)) ? 'row' : 'row number'
rowClass += ` row-${row}`
---

<tr data-row={row}>
  <td class={rowClass} data-row={row}>{row}</td>
  {
    allColumns.map(column => {
      const showArrowDown = (row === '1' && column === 'down') || (row === '1' && column === 'top-bottom') || (row === 'min' && column === 'min-max')
      const showArrowUp = (row === 'yamb' && column === 'up') || (row === 'yamb' && column === 'top-bottom') || (row === 'max' && column === 'min-max')
      let className = `cell column-${column} row-${row}`
      if (showArrowDown) className += ' arrow-down'
      if (showArrowUp) className += ' arrow-up'
      if ((row === 'min' || row === 'max') && (column === 'min-max' || column === 'top-bottom'))
        className += ` ${row === 'min' ? 'top-border' : 'bottom-border'}`

      return <td class={className} data-row={row} data-column={column} />
    })
  }
</tr>

<style lang='scss'>
  td.row {
    font-size: var(--font-s);
    font-weight: bolder;
    text-align: center;
    background-color: var(--color-4);
    color: var(--color-1);
    width: 55px;
    position: relative;
  }

  td.row.number {
    font-size: var(--font-m);
  }

  .row.row-triling:before,
  .row.row-ful:before,
  .row.row-kare:before,
  .row.row-yamb:before {
    font-size: 10px;
    color: var(--color-1);
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .row.row-triling:before {
    content: '+20';
  }

  .row.row-ful:before {
    content: '+30';
  }

  .row.row-kare:before {
    content: '+40';
  }

  .row.row-yamb:before {
    content: '+50';
  }

  .cell {
    position: relative;
    cursor: pointer;
    background-color: var(--color-5);
    font-size: 18px;
    color: var(--color-text);
    -webkit-tap-highlight-color: transparent;
  }

  .cell.top-border {
    border-top: 2px solid var(--color-border);
  }

  .cell.bottom-border {
    border-bottom: 2px solid var(--color-border);
  }

  .cell.arrow-up:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image: url('../assets/up.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
    right: 2px;
  }

  :global(.dark-mode) .cell.arrow-up:before {
    filter: invert(1);
  }

  .cell.arrow-down:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image: url('../assets/down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 2px;
  }

  :global(.dark-mode) .cell.arrow-down:before {
    filter: invert(1);
  }
</style>
